<%= form_for topic do |f| %>

  <% if task.errors.any? %>
  <div>
    <h4>There are <%= pluralize(task.errors.count, "error") %>.</h4>
      <ul>
        <% task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_group_tag(task.errors[:title]) do %>
     <%= f.label :title %>
     <%= f.text_field :title, placeholder: "Enter a title for your task" %>
   <% end %>

   <%= form_group_tag(task.errors[:description]) do %>
     <%= f.label :description %>
     <%= f.text_area :description, placeholder: "Enter a task description" %>
   <% end %>

   <div>
     <%= f.submit "Save" %>
   </div>
   
<% end %>